<div>
  <div>
    <h1>Editar deporte: <%= sport.name %></h1>
  </div>
  <div>
    <form action="<%= updateSportUrl %>" method="post">
      <input type="hidden" name="_method" value="patch" />
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= sport.name %>" />
      </div>
      <div>
        <label for="name">Jugadores por partida: </label>
        <input type="text" name="maxPlayers" value="<%= sport.maxPlayers %>" />
      </div>
      <div>
        <input type="submit" name="create" value="Guardar" />
      </div>
    </form>
    <form action="<%= showUrl %>" method="get">
      <input type="submit" value="Volver" />
    </form>
  </div>
</div>
