<div>
  <div>
    <h1>Editar equipo: <%= team.name %></h1>
  </div>
  <div>
    <div>
      <form action="<%= updateTeamUrl %>" method="post">
        <input type="hidden" name="_method" value="patch" />
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name" value="<%= team.name %>" />
        </div>
        <div>
          Deporte: <select name='sportid'>
                <% sports.forEach((sport) => { %>
                  <option value="<%= sport.id %>"><%= sport.name %></option>
                <% }) %>
               </select>
        </div>
        <div>
          <input type="submit" value="Guardar" />
        </div>
      </form>
    </div>
    <div>
      <form action="<%= showTeamUrl %>" method="get">
        <input type="submit" value="Volver" />
      </form>
    </div>
  </div>
</div>
