<div>
  <div>
    <h1>Nuevo equipo</h1>
  </div>
  <div>
    <div>
      <form action="<%= createTeamUrl %>" method="post">
      Deporte: <select name='sportname'>
            <% sports.forEach((sport) => { %>
              <option value="<%= sport.name %>"><%= sport.name %></option>
            <% }) %>
           </select>
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name" value="<%= team.name %>" />
        </div>
        <div>
          <input type="submit" name="create" value="Crear equipo" />
        </div>
      </form>
    </div>
    <div>
      <form action="<%= indexUrl %>" method="get">
        <input type="submit" value="Volver" />
      </form/>
    </div>
  </div>
</div>
