<div>
  <div>
    <h1> Equipo:  <%= team.name %> </h1>
    <% if (sport) {%>
      <h2> Deporte:  <%= sport.name %> </h2>
    <% } else { %>
      <h2> Deporte: Por definir</h2>
    <% } %>
  </div>
  <div>
    <h2>Miembros</h2>
    <table class="index">
      <tr>
        <th> </th>
        <th>Nombre</th>
        <th>Rango</th>
      </tr>
      <% members.forEach((member) => { %>
        <tr>
        <td class="memberPicture"> <img class="memberPicture" src="<%= member.user.photoId%>" alt="Foto"></td>
        <td><%= member.user.name + ' ' + member.user.surname %></td>
        <td><%= member.captain ? "Capitán" : "Miembro" %></td>
        <% if (isAdmin) { %>
        <td class="actions">
          <form action="<%= removeMemberUrl %> " method="post">
            <input type="hidden" name="userid" value="<%= member.user.id %>" />
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Borrar"/>
          </form>
        </td>
        <% } %>
        <% if ((isCaptain && !member.captain) || (isAdmin && !member.captain)) { %>
        <td class="actions">
          <form action="<%= promoteMemberUrl + member.user.id %>" method="post">
            <input type="hidden" name="userid" value="<%= member.user.id %>" />
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Promover"/>
          </form>
        </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </div>
  <div>
    <% if (isCaptain || isAdmin) { %>
    <div>
      <form class="hide-overflow" action="<%= inviteMemberUrl %>" method="get">
        <input class="left" type="submit" value="Invitar un usuario" />
      </form>
    </div>
    <br />
    <div>
      <a class="btn left" href="<%= editTeamUrl %> ">Editar</a>
    </div>
    <br />
    <br />
      <div>
        <form action="<%= deleteTeamUrl %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input class="right" type="submit" name="delete" value="Eliminar" />
        </form>
      </div>
    <% } %>
    <div>
      <form class="hide-overflow" action="<%= indexUrl %>" method="get">
        <input class="left" type="submit" value="Volver" />
      </form>
    </div>
  </div>
</div>
